<html>
<head>
    <title>LoginPage</title>
</head>
<body>
    <h1>Login</h1>
    <form id="loginForm">
        <label for="email">email:</label>
        <input type="text" id="email" name="email" required><br><br>

        <label for="password">password:</label>
        <input type="password" id="password" name="password" required><br><br>

        <button type="button" id="login-button">login</button>
    </form>

    <a href="#" class="btn btn-sm btn-success active" role="button">Google Login</a><br>
    <a href="#" class="btn btn-sm btn-success active" role="button">Apple Login</a><br>
    <a href="#" class="btn btn-sm btn-success active" role="button">Facebook Login</a><br>
</body>
</html>